@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,200;1,200&family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  font-family: 'Inter', sans-serif;
  font-family: 'Inter Tight', sans-serif;
  font-family: 'Poppins', sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
//abstracts
@import 'abstracts/colors';
@import 'abstracts/mixins';
@import 'abstracts/varibales';
//base
@import 'base/center';
@import 'base/container';
@import 'base/fontFace';
@import 'base/typegrapher';

//Components
@import 'components/button';
@import 'components/input';
@import 'components/select';
@import 'components/form';
@import 'components/dropdown';
//Layout
@import 'layout/navbar';
@import 'layout/table';
@import 'layout/cinput';
//pages
@import 'pages/login';