h1{
  font-weight: bold;
  color: $black;
  font-size: 22px;
  text-align: center;
  line-height: 1.6rem;
}

.h12{
  font-weight: bold;
  font-size: 24px;
  color: $secondary;
}
.small{
  color: $grey;
  font-size: 16px;
  margin: 0.5rem;
}
btn-text{
  font-weight: 500;
  font-size: 18px;
}
in-text{
  font-weight: 400;
  font-size: 18px;
  color: $grey;
}
text-login{
  font-weight: normal;
  font-size: 16px;
}
.p{
  font-size: 16px;
  color: $grey;
}

